html ,body{
    font-family: 'Lato', sans-serif;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
    background-color: rgb(249, 248, 248);
    margin: 0;
    padding: 0;
}
.container {
    padding-top: 20px;
    line-height: 2.5;
}

.divContainer{
    padding: 17px 42px 0px 9px;
    background-color: #21cebe;
}

.divContainer p{
    font-size: 18px;
    font-weight: bolder;
    color: white;
    margin-top: 12px;
}

.divContainer .backBtn a{
    font-size: 18px;
    font-weight: bolder;
    color: white;
    position: relative;
    top: 14px;
}

.form-control {
    height: 50px;
    border: 1px solid #f5f9fb;
    border-radius: .5rem;
}

 .checkBtn1{
    background-color: white;
    height: 50px;
    padding: 4px;
    border-radius: 5px;
    margin-top: 6px;
}

.checkBtn2{
    background-color: white;
    height: 50px;
    padding: 3px;
    border-radius: 5px;
    margin-top: 6px;
}

.checkBtn3{
    background: white;
    width: 26%;
    height: 42px;
    padding-left: 29px;
    padding-top: 8px;
    border-radius: 5px;

}
.form-group {
    margin-bottom: 0.8rem;
    font-size: 14px;
    font-weight: bold;
}
.d-flex{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}
.form-check span{
    font-size: 13px;
    font-weight: bold;
}

.form-check-input {
    margin-top: 0.8rem;
}

#carddate{
    width: 48%;
    padding-left: 5px;
    margin-right: 12px;
}

#cvvNum{
    width: 48%;
}

.cvvText{
    margin-left:  74px;
}

.next{
    background-color: #21cebe;
    margin-top: 16px;
    height: 50px;
}

.next a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 97px;
    text-decoration: none;
    position: relative;
    top: 10px;
}



@media only screen  and (width:411px) and (height:731px){
    .form-group {
        margin-bottom: 1.5rem;
    }
    .form-control {
        height: 50px;
    }
   .form-check span {
    font-size: 14px;
    }
    .clearfix {
        margin-top: 15px;
    }
    .next a {
        padding-left:112px;
    }
    .next {
        height: 50px;
    }
}

/* //////////////media query for pixel 2xl/////////////////////////// */


@media only screen  and (width:411px) and (height:823px){
    .form-control {
        height: 56px;
    }
    .form-group {
        margin-bottom: 2rem;
        font-size: 16px;
    }

    .d-flex {
        font-size: 16px;
        margin-bottom: 9px;
    }
    .form-check span {
        font-size: 15px;
    }
    .form-check {
        margin-bottom: 14px;
    }
    hr {
        margin-top: 31px;
    }
    .next a {
        padding-left: 113px;
        position: relative;
        top: 19px;
        font-size: 22px;
    }
    .next {
        height: 70px;
    }
}

/* //////////////media query for screen width 360px /////////////////////////// */
@media only screen  and (width:360px) and (height:640px){
    
    .next {
        height: 50px;
    }
}

@media only screen  and (width:320px) and (height:568px){
    .form-check span {
        font-size: 11px;
    }
    .next a {
        font-size: 17px;
        padding-left: 84px;
    }

    #carddate {
        width: 46%;
    }

    #cvvNum {
        width: 46%;
    }
   
}
/* /////////////////////////////////////////////////////////////////// */
@media (width: 768px){
    .divContainer {
        height: 117px;
        padding: 35px 42px 0px 9px;
    }
    .divContainer .backBtn a {
        font-size: 25px;
    }

    .divContainer .imgheaderNav{
        width: 90px;
       height: 60px;
}

.divContainer p {
    font-size: 28px;

}
.d-flex {
    font-size: 20px;
    margin-bottom: 15px;
}
.form-check span {
    font-size: 20px;
}
.form-check {
    margin-bottom: 15px;
}

.form-check-input {
    margin-top: 1.4rem;
}
hr {
    margin-top: 31px;
}
label{
font-size: 22px;
}
.payment{
    font-size: 23px;
}
.checkBtn1 img{
    width: 80px;
    height: 50px;
}
.checkBtn2 img{
    width: 80px;
    height: 50px;
}
.checkBtn3 {
    height: 63px;
}
.cvvText {
    margin-left: 207px;
}
.form-control {
    width: 100%;
    height: 84px;
    margin-bottom: 44px;
    font-size: 20px;
}
.next {
    padding-top: 21px;
    height: 96px;
}

.next a {
    font-size: 36px;
    padding-left: 217px;
}
}
/* //////////////////////////////////////////////////////////////////////// */

@media (min-width: 1024px){
    .divContainer {
        height: 120px;
        padding: 35px 42px 0px 9px;
    }
    .divContainer .backBtn a {
        font-size: 30px;
    }

    .divContainer .imgheaderNav{
        width: 95px;
       height: 65px;
}

.divContainer p {
    font-size: 30px;

}
.d-flex {
    font-size: 25px;
    margin-bottom: 15px;
}
.form-check span {
    font-size: 25px;
}
.form-check {
    margin-bottom: 15px;
}

.form-check-input {
    margin-top: 1.4rem;
}
hr {
    margin-top: 31px;
}
label{
font-size: 25px;
}
.payment{
    font-size: 25px;
}
.checkBtn1 img{
    width: 85px;
    height: 55px;
}
.checkBtn2 img{
    width: 85px;
    height: 55px;
}
.checkBtn3 {
    height: 65px;
}
.cvvText {
    margin-left: 283px;
}
.form-control {
    width: 100%;
    height: 84px;
    margin-bottom: 44px;
    font-size: 20px;
}
.next {
    padding-top: 21px;
    height: 96px;
}

.next a {
    font-size: 36px;
    padding-left: 373px;
}
}
/* //////////////////////////////////////////////////////////////////////// */